body {
    font-family: Helvetica, Verdana, Arial;
    padding-left: 5%;
}


h1 {
    color: rgb(160, 160, 160);
}

p {
    margin-top: 0;  
}


a {
    color: rgb(127, 130, 130);
    text-decoration: none;
}

a:hover {
    color: rgb(150, 160, 160);
}

.wikipedia {
    list-style-image: url('images/wikipedia.png');
}

.email {
    list-style-image: url('images/email.png');
}

.wordpress {
    list-style-image: url('images/wordpress.png');
}

.linkedin {
    list-style-image: url('images/linkedin.png');
}

.stackoverflow {
    list-style-image: url('images/stackoverflow.png');
}

.stackoverflow.careers {
    list-style-image: url('images/stackoverflowcareers.png');
}

.devmedia {
    list-style-image: url('images/devmedia.png');
}

.python {
    list-style-image: url('images/python.png');
}

.liferay {
    list-style-image: url('images/liferay.png');
}

.elastix {
    list-style-image: url('images/elastix.png');
}

.bitbucket {
    list-style-image: url('images/bitbucket.png');
}

.github {
    list-style-image: url('images/github.png');
}


.twitter {
    list-style-image: url('images/twitter.png');
}

.tumblr {
    list-style-image: url('images/tumblr.png');
}

.facebook {
    list-style-image: url('images/facebook.png');
}

.theoldreader {
    list-style-image: url('images/theoldreader.png');
}

.tripadvisor {
    list-style-image: url('images/tripadvisor.png');
}

.goodreads {
    list-style-image: url('images/goodreads.png');
}

.language.en {
    list-style-image: url('images/us.png');
}

.language.pt {
    list-style-image: url('images/br.png');
}

.right-column {
    width: 30%;
    display: inline-block;
    margin: 0 20px;
}

.left-column {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

.small-navbar {
    margin-top: 2.5em;
    font-size: 75%;
}
